[submodule "half"]
	path = base/half
	url = https://github.com/ROCm/half.git
	branch = rocm
[submodule "HIPIFY"]
	path = compiler/hipify
	url = https://github.com/ROCm/HIPIFY.git
	# Branch follows the weekly format: amd-compiler-YYYY-MM-DD
[submodule "llvm-project"]
	path = compiler/amd-llvm
	url = https://github.com/ROCm/llvm-project.git
	# Branch follows the weekly format: amd-compiler-YYYY-MM-DD
[submodule "rocm-cmake"]
	path = base/rocm-cmake
	url = https://github.com/ROCm/rocm-cmake.git
	branch = mainline
[submodule "rocm-libraries"]
	path = rocm-libraries
	url = https://github.com/AMD-ROCm-Internal/rocm-libraries
	branch = gfx117X
[submodule "rocm-systems"]
	path = rocm-systems
	url = https://github.com/AMD-ROCm-Internal/rocm-systems
	branch = amd_npi_medusa
[submodule "spirv-llvm-translator"]
	path = compiler/spirv-llvm-translator
	url = https://github.com/ROCm/SPIRV-LLVM-Translator.git
	# Branch follows the weekly format: amd-compiler-YYYY-MM-DD
[submodule "amd-mesa"]
	path = third-party/sysdeps/linux/amd-mesa/mesa-fork
	url = https://github.com/ROCm/mesa-fork.git
	branch = main
[submodule "libhipcxx"]
	path = math-libs/libhipcxx
	url = https://github.com/ROCm/libhipcxx.git
	branch = amd-develop
[submodule "rocgdb"]
	path = debug-tools/rocgdb/source
	url = https://github.com/ROCm/rocgdb.git
	branch = amd-staging-rocgdb-16
